.modal-header,
.modal-body,
.modal-footer {
  background-color: var(--modal-dark);
}

.see-menu-btn {
  font-size: .8em;
  background-color: transparent !important;
}

#see-menu-btn:hover {
  background-color: var(--primary) !important;
  border-color: var(--light);
}

#see-menu-btn:disabled {
  font-size: 21px;
  background-color: transparent !important;
  border-color: var(--primary);
}

#lead {
  font-weight: bold;
  letter-spacing: 1.2px;
}

.btn-close {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(352deg) brightness(100%) contrast(101%);
}

.btm-btn-close {
  background-color: transparent !important;
  font-size: 1.1em;
  margin: 0 auto;
  width: 75%;
}

.btm-btn-close:hover {
  background-color: var(--primary) !important;
  border-color: var(--light) !important;
  font-size: 1.1em;
  margin: 0 auto;
  width: 75%;
}
