thead {
  background-color: var(--dark);
  position: sticky;
  top: 0;
  padding: 5 10px;
}

th {
  padding: 10px;
  letter-spacing: 2px;
  font-weight: normal !important;
}

thead:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid var(--light);
}
