span {
  font-weight: bold;
}

.btn {
  font-size: 21px;
  letter-spacing: 1.1px;
  font-weight: normal;
}

#clear-btn {
  font-size: 16px !important;
  font-style: italic;
  font-weight: normal;
}

#clear-btn:hover {
  font-weight: bold;
}
