span {
  font-weight: bold;
}

.btn {
  font-size: 18px;
  letter-spacing: 1.1px;
  font-weight: normal;
}

#clear-btn {
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: normal;
}

#clear-btn:active {
  text-decoration: underline;
}


