body {
  margin: 5px;
  padding: 10px 25px;
  background-color: var(--dark);
  color: var(--light);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Color override */
.text-primary {
  color: var(--primary) !important;
}

.text-ternary {
  color: var(--ternary);
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  padding-left: 20px;
  padding-right: 20px;
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
  padding-left: 20px;
  padding-right: 20px;
}

.btn-outline-primary:hover {
  color: var(--light);
  background-color: var(--secondary);
  border-color: var(--secondary);
  padding-left: 20px;
  padding-right: 20px;
}

.btn-outline-ternary {
  color: var(--ternary);
  border-color: var(--ternary);
  padding-left: 20px;
  padding-right: 20px;
}

.btn-outline-ternary:hover {
  color: black;
  background-color: var(--ternary);
  border-color: var(--ternary);
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --primary: #b238fe;
  --secondary: #8850ef;
  --ternary: #f930c0;
  --pink: #e83e8c;
  --white: #fff;
  --light: #f8f9fa;
  --dark: #070707;
  --dark-grey: #292a2a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
